table{
    width: 50%;

    th:last-of-type,td:last-of-type{
        text-align: end;
    }
}

.list-categories{

    &__total{
        margin: 8px;
        font-size: 1.1em;
        color: #333;
    }
}