.sidebar{
    $this: &;

    height: 100vh;
    width: 60px;
    padding: 8px;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    background-color: #333;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__icon{
        $size: 32px;

        color: #a0a0a0;

        font-size: $size;
        width: $size;
        height: $size;

        cursor: pointer;
        transition: color .125s ease-in-out;

        &:hover{
            color: white;
        }
    }

    &__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 2rem;

        #{$this}__icon{
            margin: 8px auto;
        }
    }
}