<table mat-table [dataSource]="data$ | async">
    <ng-container [matColumnDef]="col" *ngFor="let col of deviceCols">
        <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
        <td mat-cell *matCellDef="let item">{{ col === 'Category' ? findCategory(item[col]) : item[col] }}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary" (click)="removeDevice(item.Id)" title="Remove device" aria-label="Remove device">
                <mat-icon aria-hidden>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="col" *ngFor="let col of formDeviceCols; let i = index">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="i === 0 ? 2 : null">
            <mat-form-field style="width: 90%;">
                <mat-label>{{ getFormName(col) }}</mat-label>
                <input matInput 
                    [formControl]="deviceForm.get(getFormName(col))" 
                    [attr.type]="getFormName(col) === 'PartNumber' ? 'number' : 'text'" 
                    [attr.min]="getFormName(col) === 'PartNumber' ? 0 : null"
                    *ngIf="getFormName(col) !== 'Category'; else categorySelect">
                <ng-template #categorySelect>
                    <mat-select [formControl]="deviceForm.get(getFormName(col))">
                        <mat-option *ngFor="let category of categories" [value]="category.Id">{{ category.Name }}</mat-option>
                    </mat-select>
                </ng-template>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="ActionForm">
        <td mat-footer-cell *matFooterCellDef>
            <button mat-icon-button color="primary" (click)="addDevice()" [disabled]="!getFormValid()" aria-label="Add Category" title="Add category">
                <mat-icon aria-hidden>add</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="allCols"></tr>
    <tr mat-row *matRowDef="let row; columns: allCols"></tr>
    <tr mat-footer-row *matFooterRowDef="allFormDeviceCols"></tr>
    
</table>
<div class="list-devices__total">
    <span class="list-devices__total-label">Total: {{ total }}</span>
</div>
